/* slider css */
* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header h1 {
  flex: 1;
  margin-left: 20px; /*20px is the size of the tool tip*/
}

.header svg:hover + .tooltip {
  cursor: pointer;
  opacity: 1;
}

.tooltip {
  opacity: 0; /*hide by default */
  border-radius: 5px;
  padding: 10px;
  transform: translateY(60%) translateX(54%); /*move the tooltip down and to the right*/
  transition: opacity 0.3s ease-in-out;
  width: 270px;
  position: absolute;
  z-index: 10;
  background-color: #b2fff0;
}

.slider-container {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  /* border-color: #000000; */
  border: 0.5px solid #d1d1d1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: fit-content;
  position: relative;
  transition: all ease 0.5s;
  height: auto;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.slider-container:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 10px;
}

.slider {
  -webkit-appearance: none;
  width: 320px;
  height: 8px;
  border-radius: 5px;
  background: #b2fff0;
  outline: none;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
  cursor: pointer;
}

/*This control the dragable circle object */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00c09a;
  cursor: pointer;
  border: 1px solid #ccc;
}

.slider.level-1::-webkit-slider-thumb {
  background: #ff0000;
  border-color: #ff0000;
}

.slider.level-2::-webkit-slider-thumb {
  background: #ffa500;
  border-color: #ffa500;
}

.slider.level-3::-webkit-slider-thumb {
  background: #e4e400;
  border-color: #e4e400;
}

.slider.level-4::-webkit-slider-thumb {
  background: #00ff00;
  border-color: #00ff00;
}

.slider.level-5::-webkit-slider-thumb {
  background: #0000ff;
  border-color: #0000ff;
}

.slider-labels {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider {
  /* other CSS rules */
  transition: background-color 0.5s;
}

.slider-emoji {
  font-size: 60px;
}

/* reflection box css */
.reflection-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  margin-top: 60px;
}

.box {
  border: 2px solid #d3d3d3;
  border-radius: 8px;
  background-color: #f8f8f8;
  font-size: 16px;
}

.text-box {
  height: 150px;
  width: 60vw;
  padding: 8px 12px;
  resize: none;
}

.recommendation-box {
  position: relative;
  top: -120px;
  height: fit-content;
  width: 45vw;
  padding: 15px 10px;
  transition: all 0.5s ease-in-out;
  word-wrap: break-word;
  z-index: -1;
}

.text-box:hover ~ .recommendation-box {
  top: -5px;
}

/* button css */
.custom-button {
  margin: 0px 10px;
  background-color: #00bd29;
  border: none;
  width: 150px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
}

.custom-button:hover {
  background-color: #009b22;
  cursor: pointer;
}

.snackbar-container {
  position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;


}

.snackbar {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: #b2fff0;
  border-style: solid;
  border-width: 5px 0px 0px 0px;
  border-color: #00c09a;
  border-radius: 0px 0px 5px 5px;
  box-shadow: #f0f0f0 0px 2px 2px 2px;
}

.snackbar span {
  text-align: center;
  color: black;
}

#save-button{
  position: fixed;
  bottom: 40px; /* Adjust this value to change the vertical position */
  text-align: center;
  cursor: pointer;
  left: 45vw;
  width: 10vw;
  z-index: 100;
}