@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  font-size: 28px;
  color: black;
  margin-top: 20px;
  font-weight: bold;
}

h1 {
  font-weight: bold;
}

.App {
  text-align: center;
  margin-bottom: 100px;
}

.ColSlider{
  width: fit-content;
  margin: 0;
  display:inline-block;
  margin-right: 30px;
  margin-top: 30px;
}

.SliderDiv{
  /* border: 5px solid; */
  margin: auto;
  width: fit-content;
}

.background::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #f6ea41, #bb5dff);
  opacity: 0.7;
  z-index: 1; 
}

.background > * {
  position: relative; 
  z-index: 2; 
}