@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  font-size: 28px;
  color: black;
  margin-top: 20px;
  font-weight: bold;
}

h1 {
  font-weight: bold;
}

.App {
  text-align: center;
  margin-bottom: 100px;
}

.ColSlider{
  width: fit-content;
  margin: 0;
  display:inline-block;
  margin-right: 30px;
  margin-top: 30px;
}

.SliderDiv{
  /* border: 5px solid; */
  margin: auto;
  width: fit-content;
  padding: 10px;
}